<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zishu.mapper.RegisterMapper">
    <insert id="insertAdmin" useGeneratedKeys="true" keyProperty="admin.adminId">
        INSERT INTO admin (
            username, password, real_name, email, phone, role, is_active, created_at, last_login, avatar_url
        ) VALUES (
                     #{admin.username}, #{admin.password}, #{admin.realName}, #{admin.email}, #{admin.phone},
                     #{admin.role}, #{admin.isActive}, #{admin.createdAt}, #{admin.lastLogin}, #{admin.avatarUrl}
                 )
    </insert>

    <select id="findByUsername" resultType="org.zishu.pojo.Admin">
        SELECT * FROM admin WHERE username = #{username}
    </select>
</mapper>