<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zishu.mapper.RegisterMapper">
    <select id="existsByUsername" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM admin WHERE username = #{username})
    </select>

    <insert id="insertAdmin" parameterType="org.zishu.pojo.Admin">
        INSERT INTO admin (username, password, real_name, email, phone)
        VALUES (#{username}, #{password}, #{realName}, #{email}, #{phone})
    </insert>
</mapper>